* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  line-height: 110px;
  white-space: nowrap;
  border-top: solid white 5px;;
}
.text::before {
  content: "Love Dad & Nicola";
  position: absolute;
  bottom: -80%;
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.photo{
  width: 175px;
  height: 175px;
  position: absolute;
  left: 44%;
  top: 80%;
  border-radius: 20px;
  border: white solid 3px;
}
.photoHs{
  /* width: 100px;
  height: 100px; */
  border-radius: 50%;
  border: white solid 1px;
}

